/* light mode */
:root {
    --main-background-color: #fff;
    --dark-background-color: rgba(0, 0, 0, 0.08);
    --container-dark-background-color: #e9e9e9;
    --border-color: rgba(0, 0, 0, 0.04);
    --border-light-color: rgba(0, 0, 0, 0.1);
    --text-color: #000;
}

/* dark mode */
[data-theme="dark"] {
    --main-background-color: #000;
    --dark-background-color: rgba(255, 255, 255, 0.08);
    --container-dark-background-color: #212124;
    --border-color: rgba(255, 255, 255, 0.04);
    --second-border-color: rgba(255, 255, 255, 0.1);
    --text-color: #fff;
}