@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-size: 12px;
}

body {
  visibility: hidden;
  display: none;
}

.divider {
  left: var(--left);
  bottom: 0px;
  width: var(--width);
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}